/* ========================================================
  DROPDOWN
======================================================== */

.dropdown {
    position: absolute;
    bottom: -16px;
    transform: translateY(100%);
    background-color: hsl(0, 0%, 9%, .85);
    padding: 6px;
    border: 1px solid hsl(0, 0%, 100%, .04);
    border-radius: 13px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    transition: all ease-in-out .25s;
}

.dropdown.closed {
    transform: translateY(100%) scale(90%);
    bottom: -32px;
    opacity: 0;
}

/* ========================================================
  DROPDOWN WRAP
======================================================== */

.dropdown-wrap {
    position: relative;
}

/* ========================================================
  TYPOGRAPHY
======================================================== */

.dropdown-label {
    padding: 10px;
    color: #333333;
    font-size: 12px;
    font-variation-settings: 'wght' 550;
}


/* ========================================================
  SEPERATOR
======================================================== */

.dropdown .seperator {
    background-color: hsl(0, 0%, 100%, .04);
    height: 1px;
    margin: 0 -6px;
}

/* ========================================================
  ACCOUNT
======================================================== */

/*============ DROPDOWN ==================*/

.dropdown.account {
    width: 230px;
}

/*============ TOGGLE ==================*/

.dropdown-wrap.account,
.account-dropdown-toggle,
.account-dropdown-toggle img {
    width: 32px !important;
    max-height: 32px !important;
}

.account-dropdown-toggle img {
    display: block;
}

.account-dropdown-toggle {
    opacity: .8;
    position: relative;
}

.account-dropdown-toggle::before {
    position: absolute;
    content: "";
    display: block;
    left: -4px;
    right: -4px;
    bottom: -4px;
    top: -4px;
    border-radius: 6px;
    z-index: 1;
    border: 2px solid #0072F5;
    transition: all ease-in-out .25s;
    opacity: 0;
}

.account-dropdown-toggle:hover {
    opacity: 1;
}

.dropdown-wrap.open .account-dropdown-toggle {
    opacity: 1;
}

.dropdown-wrap.open .account-dropdown-toggle::before {
    opacity: 1;
}

/*============ DROPDOWN TAB ==================*/

.dropdown-tab {
    padding: 10px;
    border-radius: 8px;
    font-variation-settings: 'wght' 530;
    color: #C3C3C3;
    font-size: 12px;
    display: grid;
    grid-template-columns: 15px 1fr;
    height: 35px;
    align-items: center;
}

.dropdown-tab img {
    opacity: .75;
    align-self: center;
    justify-self: center;
}

.dropdown-tab:hover {
    color: #FCFCFC;
    background-color: hsl(0, 0%, 90%, .05);
}

.dropdown-tab:hover img {
    opacity: 1;
}