/* ========================================================
  GLOBAL VARIABLES
======================================================== */

#root {
  background-color: #0F0F0F;
  width: 100svw;
  height: 100svh;
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "inter-variable", sans-serif;
  letter-spacing: -0.017em;
  line-height: 1;
  caret-color: transparent;
}

*:focus {
  outline: none;
  caret-color: transparent;
}

button:focus,
input:focus,
.toggle:focus {
  outline: none;
}

/* ========================================================
  ICONS
======================================================== */


.chevron {
  transform: translateY(1px);
  transition: transform ease .4s;
}

/* ========================================================
  BUTTONS
======================================================== */

button {
  background-color: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all .2s ease;
}

/*--- TRANSPARENT BUTTON ---*/

.trans-button {
  height: 30px;
  aspect-ratio: 1;
  opacity: .7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trans-button.active,
.trans-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

/*--- BUTTON MAIN ---*/

.button-main {
  background-color: #242426;
  padding: 11px 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button-main.grey {
  background-color: #333333;
}

.button-main.grey:hover {
  background-color: #303030;
}

.button-main.orange {
  background-color: #DA5B3F;
}

.button-main.orange:hover {
  background-color: #F36444;
}

.button-main.icon-square {
  height: 38px;
  width: 38px;
}

.button-main:hover {
  background-color: #28282A;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.button-main img {
  opacity: .8;
  transition: opacity ease .2s;
}

.button-main.green.open img {
  transform: rotate(180deg);
}

.button-main.green.open img,
.button-main:hover img {
  opacity: 1;
}

.button-main p {
  color: hsl(0, 0%, 80%);
  transition: color ease .2s;
  font-size: 14px;
  font-variation-settings: 'slnt' 0, 'wght' 490;
}

.button-main.green.open p,
.button-main:hover p {
  color: hsl(0, 0%, 100%);
}

.button-main.one {
  height: 38px;
  width: 38px;
}

.button-main.green {
  background-color: #1D993C;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.button-main.green.open,
.button-main.green:hover {
  background-color: #1B8D37;
}


/* ========================================================
  NAVIGATION
======================================================== */

.navigation {
  padding: 24px 32px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  position: relative;
  transition: all ease .4s;
}

.navigation p {
  white-space: nowrap;
}

.navigation-top {
  position: relative;
  gap: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-top.bottom {
  position: absolute;
  bottom: 24px;
  right: 32px;
  left: 32px;
  gap: 8px;
}

/*--- NAVIGATION-CLOSED ---*/

.navigation.closed {
  width: 108px;
}


#close-navigation {
  transition: all .5s;
}

.navigation.closed #close-navigation {
  transform: scaleX(-1) !important;
}

.navigation.closed .theme-toggle-wrap,
.navigation.closed #edit-ui-button,
.navigation.closed .searchbar p,
.navigation.closed .dropdown-wrap,
.navigation.closed .tab p {
  opacity: 0;
  pointer-events: none;
}

.theme-toggle-wrap,
.searchbar-placeholder,
.dropdown-wrap,
.tab-label {
  transition: opacity ease .2s;
}

.navigation.opening .theme-toggle-wrap,
.navigation.opening #edit-ui-button,
.navigation.opening .dropdown-wrap,
.navigation.opening .searchbar-placeholder,
.navigation.opening .tab-label {
  transition: opacity ease .2s .3s;
}

.navigation.closed .trans-button {
  transform: translateX(-7px);
}

.navigation.closed .button-main {
  transform: translateX(-4px);
}

/* ========================================================
  TABS
======================================================== */

.tabs-wrap {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  height: 42px;
  border: 1px solid transparent;
}

.tab:hover {
  background-color: rgba(28, 28, 28, 0.7);
}

.tab.active {
  opacity: 1;
  border: none;
  background-color: rgba(28, 28, 28, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.tab img {
  opacity: 0.5;
  transition: opacity .2s;
}

.tab:hover img {
  opacity: .7;
}

.tab.active img {
  opacity: 1 !important;
}

.tab p {
  color: hsl(0, 0%, 50%);
  transition: all ease .2s;
  font-size: 14px;
  text-align: left;
  font-variation-settings: 'slnt' 0, 'wght' 450;
}

.tab:hover p {
  color: hsl(0, 0%, 70%);
}

.tab.active p {
  color: hsl(0, 0%, 100%) !important;
}

/* ========================================================
  THEME TOGGLE
======================================================== */

.theme-toggle-wrap {
  gap: 8px;
  display: flex;
  align-items: center;
}

.theme-toggle {
  width: 41px;
  height: 23px;
  background-color: #363636;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
  transition: all ease .2s;
}

.theme-toggle:hover {
  opacity: 1;
}

.theme-toggle-knob {
  height: 17px;
  aspect-ratio: 1;
  position: absolute;
  top: 3px;
  transform: translateX(3px);
  background-color: #909095;
  border-radius: 50px;
  transition: all ease .3s;
}

.theme-toggle.dark .theme-toggle-knob{
  transform: translateX(19px);
}

/* ========================================================
  SEARCH
======================================================== */

.searchbar {
  background-color: rgba(28, 28, 28, .7);
  padding: 12px;
  border-radius: 8px;
  opacity: .7;
  transition: all ease .2s;
  gap: 12px;
  display: flex;
  align-items: center;
}

.searchbar:hover {
  background-color: rgba(28, 28, 28, 1);;
}

.searchbar p {
  color: hsl(0, 0%, 40%);
  font-size: 14px;
  font-variation-settings: 'slnt' 0, 'wght' 330;
  transition: all ease .2s;
}

.searchbar img {
  opacity: 0.4;
}

/* ========================================================
  DROPDOWN MENUS
======================================================== */

.dropdown-wrap {
  position: relative;
}

.theme-toggle-wrap,
.dropdown-wrap.account {
  position: absolute;
  left: 0px;
}

.dropdown {
  background-color: #242424;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  position: absolute;
  bottom: -32px;
  transform: translateY(100%);
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
}

.dropdown-wrap img {
  transition: opacity ease .2s, transform ease .2s;
}

.dropdown.notifications {
  width: 300px;
}

.dropdown.account {
  width: 175px;
}

.dropdown.status {
  width: 340px;
}

/*--- DROPDOWN BLOCK ---*/

.dropdown-block {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  transition: background-color ease .2s;
  border-top: solid 1px hsla(0, 0%, 100%, .05);
}

.dropdown-block.top{
  border-top: transparent;
}

.dropdown-block.notification {
  display: flex;
  align-items: flex-start;
}

.dropdown-block.notification img {
  margin-top: 4px;
}


/*--- DROPDOWN TYPOGRAPHY ---*/

.dropdown-wrap a,
.dropdown-wrap p {
  transition: color ease .2s;
}

.config-knob-label,
.dropdown-subheading {
  font-variation-settings: 'slnt' 0, 'wght' 400;
  font-size: 13px;
}

.dropdown-subheading {
  color: hsl(0, 0%, 80%);
}

.dropdown-heading {
  font-size: 14px;
  font-variation-settings: 'slnt' 0, 'wght' 450;
  color: hsl(0, 0%, 80%);
}


.notification {
  font-size: 13px;
  color: hsl(0, 0%, 72%);
  line-height: 1.5;
  white-space: wrap !important;
  font-variation-settings: 'slnt' 0, 'wght' 340;
}


.notification a {
  color:  hsl(14, 79%, 34%);
}

.notification a:hover {
  color: hsl(14, 79%, 59%) !important;
}

.dropdown-subheading {
  font-size: 13px;
}


.notification-date {
  color: hsl(0, 0%, 48%);
  font-size: 12px;
  font-variation-settings: 'slnt' 0, 'wght' 320;
  margin-top: 12px;
}

/*--- DROPDOWN SHOW ---*/

.dropdown.open {
  opacity: 1;
  bottom: -16px;
  transform: translateY(100%);
  pointer-events: auto;
}

.chev-togg.open {
  opacity: 1;
}

.chev-togg.open .chevron {
  transform: rotate(180deg);
}

.icon-rotate {
  transition: all ease .3s;
}

.icon-rotate.show {
  transform: rotate(-30deg);
}


/*--- ACCOUNT TOGGLE WRAP ---*/

.account-toggle-wrap {
  gap: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account-toggle-wrap img:first-of-type {
  margin-right: 4px;
}

.account-toggle-wrap img {
  opacity: .8;
  transition: opacity ease .2s, transform ease .2s;
}

.account-toggle-wrap:hover img {
  opacity: 1;
}

.account-toggle-wrap:hover p {
  color: hsl(0, 0%, 100%);
}

.account-toggle-wrap.open p{
  color: hsl(0, 0%, 100%);
}

.account-toggle-wrap.open img{
 opacity: 1;
}

.account-toggle-wrap.open .chevron{
  transform: rotate(180deg);
}

/*--- DROPDOWN BLOCK ANIMTAION ---*/


.dropdown-block.hover:hover {
  background-color: rgba(255, 255, 255, 5%);
  cursor: pointer;
}

.dropdown-block.hover:hover p{
  color: hsl(0, 0%, 100%);
}

.dropdown-block.hover img {
  opacity: .8;
}

.dropdown-block.hover:hover img{
  opacity: 1;
}


/*--- NOTIFICATIONS ANIMATION WRAP ---*/

.trans-button.active img{
  transform: rotate(-20deg);
}

.dropdown-block.notification:hover .notification{
   color: hsl(0, 0%, 90%);
}

.dropdown-block.notification:hover .notification-date{
  color: hsl(0, 0%, 60%);
}

.dropdown-block.notification:hover a {
  color:  hsl(14, 79%, 44%);
}

/*--- STATUS DROPDOWN ---*/

.dropdown-wrap.status {
  display: flex;
  justify-content: flex-end;
}

.dropdown-tab {
  font-size: 14px;
  font-variation-settings: 'slnt' 0, 'wght' 450;
  color: hsl(0, 0%, 50%);
  padding: 10px;
  width: 100%;
}

.dropdown-tab:hover {
 background-color: hsla(0, 0%, 100%, .04);
  color: hsl(0, 0%, 70%);
}

.dropdown-tab.current {
  background-color: hsla(0, 0%, 100%, .07);
  color: hsl(0, 0%, 90%);
}

.dropdown-block.status p{
  color: hsl(0, 0%, 95%);
}

.config-toggle {
  width: 37px;
  height: 19px;
  background-color: #1D993C;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  opacity: .8;
  transition: opacity ease .2s, color ease .3s;
}

.config-toggle:hover {
  opacity: 1;
}

.config-knob {
  position: absolute;
  top: 2px;
  bottom: 2px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50px;
  right: 2px;
  transition: all ease .3s;
}

.config-knob-label-wrap {
  position: relative;
}

.config-knob-label {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 0.5s;
}

.config-knob-label.act {
  position: absolute;
}

.config-knob-label.active {
  opacity: 1;
  transition: opacity 0.5s ease;
  transition-delay: 0s;
}

.config-block-sep {
  height: 19px;
  width: 1px;
  background-color: hsla(0, 0%, 100%, .05);
}

.dropdown-block.indicators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  column-gap: 12px;
}

.last-updated-indicator {
  font-size: 12px;
  font-variation-settings: 'slnt' 0, 'wght' 320;
  color: #224E2C;  
}

.dropdown-block.hover:hover .last-updated-indicator {
  color: #1D993C;
}

/*--- STATUS DROPDOWN INACTIVE ---*/

.dropdown-block.inactive p{
  color: hsl(0, 0%, 80%) !important;
}

.dropdown-block.dropdown-block.inactive .config-toggle {
  background-color: #4D4D4D;
}

.dropdown-block.dropdown-block.inactive .config-knob {
  background-color: hsl(0, 0%, 80%);
  transform: translateX(-18px);
}

.config-toggle {
  width: 37px;
  height: 19px;
  background-color: #1D993C;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  opacity: .8;
  transition: opacity ease .2s;
}


/*--- STATUS DOMAIN---*/

.dropdown-block.domain {
  display: grid;
  grid-template-columns: 15px 1fr;
  row-gap: 16px;
  column-gap: 12px;
  align-items: start;
}
 
.dropdown-block.domain .dropdown-subheading {
  grid-column: span 2;
}

.staging-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #5D5D5D;
  background-color: hsl(0, 0%, 100%, .04);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease .3s;
  opacity: .7;
}

.staging-checkbox:hover {
  opacity: 1;
}

.staging-checkbox img {
  opacity: 0;
  transition: opacity ease .3s;
}

.dropdown-block.domain.active .staging-checkbox img {
  opacity: 1;
}

.dropdown-block.domain.active .staging-checkbox {
  border: 1px solid #1D993C;
  background-color: #215E30;
}

.dropdown-block.domain.active .dropdown-domain{
  color: hsl(0, 0%, 100%);
}

.dropdown-block.domain.active .last-updated-indicator{
  color: #1D993C;
}

.dropdown-block.domain.active .last-updated-indicator.gray{
  color: hsl(0, 0%, 60%);
}

.dropdown-block.domain.active .last-updated-indicator.gray:hover {
  color: hsl(0, 0%, 80%);
}

.dropdown-domain.add {
  color: #914837 !important;
  cursor: pointer;
}

.dropdown-domain.add:hover {
  color: #E85A39 !important;
}

.dropdown-domain {
  color: hsl(0, 0%, 50%);
  font-size: 13px;
  line-height: 1;
  font-variation-settings: 'slnt' 0, 'wght' 400;
  grid-column: span 2;
}

.dropdown-menu-domain-block {
  display: grid;
  gap: 10px;
}

.dropdown-block.domain .last-updated-indicator{
  color: hsl(0, 0%, 50%);
}

.last-updated-indicator.gray {
  color: hsl(0, 0%, 50%);
  text-decoration: underline;
  justify-self: flex-end;
}


.form-button-wrap .button-main.orange,
.dropdown-block .button-main.orange {
  flex: 1;
}

/* ========================================================
  DASHBOARD
======================================================== */


.dashboard {
  margin: 24px 32px 24px 0;
  background-color: #1C1C1C;
  flex: 1;
  border-radius: 30px;
  display: flex;

}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ========================================================
  DASHBOARD MENU
======================================================== */


.dashboard-menu {
  padding: 24px 32px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .05);
  
}

.fade-wrapper.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-tab-heading {
  font-size: 18px;
  color: hsl(0, 0%, 95%);
  font-variation-settings: 'slnt' 0, 'wght' 470;
}

#open-sidebar-button {
  margin-right: 24px;
}

.dashboard-tab-icon {
  margin-right: 12px;
}

.menu-button-wrap {
  gap: 12px;
  display: flex;
  align-items: center;
}

.menu-icon-heading-wrap {
  display: flex;
  align-items: center;
}

/* ========================================================
  SIDEBAR
======================================================== */

.sidebar {
  width: 290px;
  border-radius: 30px 0 0 30px;
  height: 100%;
  background-color: #141414;
  display: flex;
  justify-content: end;
  overflow: hidden;
  transition: width ease .4s;
}

.sidebar-wrap {
  padding: 24px 32px;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.h2 {
  margin-top: -4px;
  color: hsl(0, 0%, 90%);
  font-size: 19px;
  font-variation-settings: 'slnt' 0, 'wght' 500;
}

.sidebar-tabs-wrap {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.sidebar-tab {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  width: 100%;
  height: 37px;
}

.sidebar-tab.active {
  background-color: hsla(0, 0%, 100%, .05);
}


.sidebar-tab:hover {
  background-color: hsla(0, 0%, 100%, .03);
}

.sidebar-tab p {
  font-size: 13px;
  font-variation-settings: 'slnt' 0, 'wght' 500;
  color: hsl(240, 2%, 40%);
  transition: color ease .2s;
}

.sidebar-tab.active p{
  color: hsl(240, 2%, 49%);
}

.sidebar-tab img {
  opacity: .8;
  transition: opacity ease .2s;
}

.sidebar-tab.active img {
  opacity: 1;
}

.sidebar-tab-group {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.sidebar-tabs-group-heading {
  color: #474747;
  font-variation-settings: 'slnt' 0, 'wght' 530;
  font-size: 12px;
  margin-bottom: 12px;
}

.sidebar-icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--- SIDEBAR ANIMATION CLOSED ---*/

.sidebar.closed {
  width: 0;
}

.close-sidebar-wrap {
  width: 0px;
  overflow: hidden;
  transition: all ease .3s;
}

.close-sidebar-wrap.closed {
  width: 54px;
  overflow: hidden;
}


/*--- CONTENT WRAP ---*/

.content {
  margin: 32px 32px 0 32px;
  padding-bottom: 24px;
  flex: 1;
  display: flex;
}



/* ========================================================
  DASHBOARD SWITCH ANIMATION
======================================================== */


.fade-wrapper {
  transition: opacity 0.075s ease;
  opacity: 1;
  will-change: opacity;
  flex: 1;
  display: flex;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition-delay: 0.075s;
}

/* ========================================================
  OVERVIEW TAB
======================================================== */

.overview-wrap {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.overview-block {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.overview-block-heading {
  color: #7F7F83;
  font-variation-settings: 'slnt' 0, 'wght' 480;
  font-size: 14px;
}

.overview-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.overview-tab {
  border: 1px solid hsla(0, 0%, 100%, .05);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  transition: all ease .2sa;
}

.overview-tab:hover {
  background-color: hsla(0, 0%, 100%, .01);
  border-color: hsla(0, 0%, 100%, .08);
}

.overview-heading {
  color: white;
  font-size: 14px;
  margin-bottom: -18px;
  font-variation-settings: 'slnt' 0, 'wght' 480;
}

.overview-subheading {
  color: #7D7D84;
  font-size: 13px;
  line-height: 1.6;
  font-variation-settings: 'slnt' 0, 'wght' 440;
  text-align: left;
}


/* ========================================================
  CHATBOT TAB
======================================================== */

.content-size-retriction,
.content-centred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 36px;
}

.content-size-retriction {
  width: 90%;
  max-width: 800px;
  position: relative;
}

.chatbot-form-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.prompt-suggestion {
  background-color: #222222;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  border-radius: 50px;
  padding: 9px 12px;
  gap: 8px;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 80%);
  font-size: 12px;
  font-variation-settings: 'slnt' 0, 'wght' 360;
  white-space: nowrap;
}

.prompt-suggestion:hover {
  background-color: #262626;
  color: hsl(0, 0%, 100%);
}

.prompt-suggestion img {
  margin-top: -1px;
  opacity: .8;
  transition: all ease .2s;
}

.prompt-suggestion:hover img {
  opacity: 1;
}

.chatbot-prompt-suggestions-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chatbot-prompt-suggestions-wrap .overview-block-heading {
  width: 100%;
  margin-bottom: 12px;
}

.chatbot-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chatbot-input {
  background-color: #272727;
  padding: 12px 16px;
  border-radius: 12px;
  caret-color: white;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  color: white;
  font-size: 14px;
  font-variation-settings: 'slnt' 0, 'wght' 400;
  height: 54px;
}

.button-main.chatbot {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

/* ========================================================
  TOOL TIP
======================================================== */

.tool-tip-label-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tool-tip-icon {
  width: 18px;
  position: relative;
  height: 18px;
  background-color: #303030;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  font-size: 11px;
  font-variation-settings: 'slnt' 0, 'wght' 450;
  color: hsl(0, 0%, 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: all ease .3s;
}

.tool-tip-icon:hover {
  background-color: #3D3D3D;
  color: hsl(0, 0%, 100%);
}

.tool-tip-icon p {
  pointer-events: none;
}

.tool-tip-icon:hover .tooltip {
  pointer-events: all;
  opacity: 1;
  top: -12px;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  top: -0px;
  transform: translateY(-100%);
  padding: 10px 12px;
  background-color: #272727;
  font-variation-settings: 'slnt' 0, 'wght' 390;
  font-size: 12px;
  width: 250px;
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  transition: all ease .3s;
  color: white;
}

.tooltip p {
  line-height: 1.6;
}

/* ========================================================
  PROCESS
======================================================== */

.proccess-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.process-stage {
  background: linear-gradient(-156.977deg, #767676 0%, #626262 50%, #535353 100%);
  height: 27px;
  width: 27px;
  border-radius: 50px;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.process-dot {
  height: 3px;
  width: 3px;
  background-color: #1C1C1C;
  border-radius: 50px;
}

.process-dot.middle {
  position: absolute;
  width: 25px;
  height: 25px;
}

.process-text {
  position: absolute;
  bottom: -12px;
  transform: translateY(100%);
  white-space: nowrap;
  color: hsl(0, 0%, 50%);
  font-variation-settings: 'slnt' 0, 'wght' 380;
  font-size: 12px;
}

.process-line-wrap {
  border-radius: 50px;
  height: 2px;
  flex: 1;
  background-color: hsl(0, 0%, 100%, .1);
}

.process-line {
  background: linear-gradient(-156.977deg, #767676 0%, #626262 50%, #535353 100%);
  border-radius: 50px;
  width: 0%;
}

.process-stage.active .process-dot.middle {
  width: 3px;
  height: 3px;
}

.process-stage.active .process-text { 
  color: hsl(0, 0%, 100%);
  font-variation-settings: 'slnt' 0, 'wght' 450;
}

/* ========================================================
  CONTENT GENERATOR
======================================================== */

.content-generator-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 24px;
  width: 100%;
}

.content-form-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-generation-lebel {
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  font-variation-settings: 'slnt' 0, 'wght' 450;
}

.generator-input {
  background-color: hsl(0, 0%, 100%, .02);
  border: none;
  padding: 12px;
  height: 45px;
  border: 1px solid #37373a;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  font-variation-settings: 'slnt' 0, 'wght' 400;
}

.generator-input::placeholder {
  font-size: 13px;
}

.form-button-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  grid-column: span 2;
}

.content-form-block.span {
  grid-column: span 2;
}