/* ========================================================
  CANVAS
======================================================== */

.canvas {
    background-color: #0F0F0F;
    overflow: hidden;
    border-radius: 24px;
    border: 1px solid #121212;
}