/* ========================================================
  CARD
======================================================== */

.card {
    background-color: hsl(0, 0%, 50%, .02);
    border: 1px solid hsl(0, 0%, 90%, .02);
    border-radius: 18px;
    position: relative;
}

.card.p24 {
    padding: 24px;
}

.card.p16 {
    padding: 16px;
}

/* ========================================================
  TYPOGRAPHY
======================================================== */

.card-heading {
    font-size: 13px;
    font-variation-settings: 'wght' 550;
    color: hsl(0, 0%, 80%);
}

.card-heading.f14 {
    font-size: 14px;
}

.metric-label {
    font-size: 22px;
    font-variation-settings: 'wght' 600;
    color: #ededed;
}

.change-from-last {
    font-size: 13px;
    font-variation-settings: 'wght' 560;
    color: #1DA33F;
}

.change-from-last.neg {
    color: #AD1F1F;
}

.change-from-last span {
    color: #4d4d4d;
}

/* ========================================================
  METRICS CARD
======================================================== */

.card.metrics-card .secbutton{
    opacity: 0;
    min-width: 26px;
}

.card.metrics-card .change-from-last {
    margin-top: -3px;
}

.metrics-card.fade > :nth-child(-n +3) {
    opacity: 0;
}

.metrics-card > :nth-child(-n +3) {
    transition: opacity .15s linear;
}

.card.metrics-card:hover .secbutton{
    opacity: 1;
}


