/* ========================================================
  LINE CHART
======================================================== */

.chart-ticker {
    font-variation-settings: 'wght' 580;
    color: #333333;
    font-size: 13px;
}
