/* ========================================================
  GLOBAL STYLES
======================================================== */

* {
    font-family: "inter-variable", sans-serif;
    box-sizing: border-box;
    letter-spacing: -0.015em;
    line-height: 1;
    padding: 0;
    margin: 0;
    caret-color: transparent;
    text-align: left;
}

body {
    background-color: #090909;
    padding: 20px;
}

body,
html,
#root {
    height: 100%;
}

/* ========================================================
  HEIGHT
======================================================== */

.h100 {
    height: 100%;
}


/* ========================================================
  MIN_WIDTH
======================================================== */

.min-w700 {
    min-width: 700px;
}

.min-w500 {
    min-width: 500px;
}

/* ========================================================
  FLEX
======================================================== */

.f-col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.f-row {
    display: flex;
    align-items: center;
}

.cen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}

.flex6 {
    flex: 6;
}

.flex7 {
    flex: 7;
}

.flex8 {
    flex: 8;
}

.flex9 {
    flex: 9;
}

.flex10 {
    flex: 10;
}

.flex11 {
    flex: 11;
}

.a-s {
    align-items: stretch;
}

.a-c {
    align-items: center;
}

.a-f-e {
    align-items: flex-end;
}

.a-f-s {
    align-items: flex-start;
}

.j-f-e {
    justify-content: flex-end;
}

.j-c {
    justify-content: center;
}

.j-s-b {
    justify-content: space-between;
}

.g52 {
    gap: 52px;
}

.g48 {
    gap: 48px;
}

.g40 {
    gap: 40px;
}

.g36 {
    gap: 36px;
}

.g32 {
    gap: 32px;
}

.g28 {
    gap: 28px;
}

.g24 {
    gap: 24px;
}

.g20 {
    gap: 20px;
}

.g16 {
    gap: 16px;
}

.g14 {
    gap: 14px;
}

.g12 {
    gap: 12px;
}

.g10 {
    gap: 10px;
}

.g8 {
    gap: 8px;
}

.g6 {
    gap: 6px;
}

.g4 {
    gap: 4px;
}

/* ========================================================
  GRID
======================================================== */

.four-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/* ========================================================
  PADDING
======================================================== */

.pad-lef16 {
    padding-left: 16px;
}

/* ========================================================
  TRANSITIONS
======================================================== */

img, p {
    transition: all ease .18s;
}

/* ========================================================
  BUTTONS
======================================================== */

button {
    outline: none;
    border: none;
    background-color: transparent;
    transition: all ease .18s;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
    transition: all ease .18s;
    cursor: text;
}