/* ========================================================
  GLOBAL STYLES
======================================================== */

* {
    font-family: "inter-variable", sans-serif;
    box-sizing: border-box;
    letter-spacing: -0.015em;
    line-height: 1;
    padding: 0;
    margin: 0;
    caret-color: transparent;
    text-align: left;
}

body {
    background-color: #090909;
    padding: 20px;
}

body,
html,
#root {
    height: 100%;
}

/* ========================================================
  FLEX
======================================================== */

.f-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
    align-items: center;
}

.cen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    flex: 1;
}

.a-s {
    align-items: stretch;
}

.j-f-e {
    justify-content: flex-end;
}

.j-s-b {
    justify-content: space-between;
}

.g48 {
    gap: 48px;
}

.g40 {
    gap: 40px;
}

.g20 {
    gap: 20px;
}

.g16 {
    gap: 16px;
}

.g12 {
    gap: 12px;
}

.g10 {
    gap: 10px;
}

.g6 {
    gap: 6px;
}

.g4 {
    gap: 4px;
}

/* ========================================================
  TRANSITIONS
======================================================== */

img, p {
    transition: all ease .18s;
}

/* ========================================================
  BUTTONS
======================================================== */

button {
    outline: none;
    border: none;
    background-color: transparent;
    transition: all ease .18s;
    cursor: pointer;
}